body {
  height: 3000px;
}

.container {
  position: relative;
  display: inline-block;
  top: 10px;
  left: 10px;
}

.shirt-picture {
 width: 250px;
 height: 250px;
 object-fit: cover;
 border: 0.1px;
 border-style: solid;
}

.text-sale {
  position: absolute;
  font-family: Arial;
  background-color: black;
  color: white;
  top: 10px;
  right: 0px;
  padding: 4px 7px;
  font-size: 13px;
}