p {
  font-family: Montserrat;
  text-align: center;
  margin: 6px 0px;
}

.model {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 16px;
}

.order {
  font-size: 28px;
}
.delivery {
  font-size: 28px;
  text-decoration: underline;
  cursor: pointer;
}