div {
  font-family: Arial;
}

.container {
  display: flex;
  flex-direction: column;
  width: 400px;
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(0,0,0,0.25);
  margin: 20px 20px;
  padding: 10px 15px;
}

.inbox-label {
  font-size: 16px;
  color: rgb(120, 120, 120);
  margin-bottom: 20px;
}

.email {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.email-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.sender-container {
  margin-right: 10px;
}

.sender-picture {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
}

.email-content{
 flex: 1;
}

.sender-name {
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

.send-time {
 color: rgb(120, 120, 120);
}

.subject {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.message {
  font-size: 15px;
  color: rgb(120, 120, 120);
}